.MuiPagination-ul li button	{
    margin:0  !important;
    border-radius: unset !important;
    border:unset;
    border-left:1px solid lightgray !important;
    border-right:1px solid lightgray !important;
    /* border-color: rgb(160, 160, 160) !important; */
}
.MuiPagination-ul{
    border:1px solid lightgray !important;
    border-radius: 4px !important;
}